{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div
  class="card mb-3 border-0 text-white p-2"
  style="background: rgba(43, 49, 54, 0.6); max-width: 640px"
>
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{account.imageURL}}"
        class="img-fluid rounded-start h-100"
        alt="acount-image"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{account.credential_for}}</h5>
        <small class="card-text text-secondary">{{account.description}}</small>

        <p class="card-text mt-3">
          <span class="me-3">Username: </span>
          <small class="badge bg-secondary">{{account.username}} </small>
          <br />
          <span class="me-3">Password: </span>
          <small class="badge bg-secondary">{{account.password}} </small>
        </p>

        {% if account.url %}
        <p class="card-text">
          <a class="text-mute text-decoration-none" href="{{account.url}}">
            <small><i class="bi bi-link-45deg"></i>URL Link</small></a
          >
        </p>
        {% endif %}

        <p class="card-text text-end">
          <small>
            <a
              class="text-decoration-none icon text-secondary fs-5"
              href="{% url 'edit-account' account.id %}"
              ><i class="bi bi-pencil-square"></i></a
          ></small>
          <small>
            <a
              class="text-decoration-none icon text-secondary fs-5"
              href="{% url 'delete-account' account.id %}"
              ><i class="bi bi-trash"></i></a
          ></small>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
