<!-- prettier-ignore -->
{% extends 'base_generic.html' %}
 {% block content %}
<div
  class="overflow-auto ps-2 pe-2 scrollbar"
  style="max-height: 400px; width: 830px"
>
  {% if accounts %} {% for account in accounts %}
  <div
    class="d-flex justify-content-between p-3 mb-1 rounded-2"
    style="background: rgba(43, 49, 54, 1); width: 800px"
  >
    <h4 class="lead fw-bold" style="color: rgb(206, 206, 206)">
      {{account.credential_for}}
    </h4>
    <p>
      <small>
        <a
          class="text-decoration-none icon"
          href="{% url 'account' account.id %}"
          ><i class="bi bi-eye fs-5 text-secondary fw-bold"></i></a
      ></small>
    </p>
  </div>
  {% endfor %} {% else %} {% if search_query %}
  <p
    class="text-white fs-4 p-4 pt-5 pb-5 rounded-5"
    style="background: #333a40"
  >
    Your search found no results.
  </p>
  {% else %}
  <p
    class="text-white fs-4 p-4 pt-5 pb-5 rounded-5"
    style="background: #333a40"
  >
    You have no accounts saved.
  </p>
  {% endif %} {% endif %}
</div>

{% endblock %}
