{% extends 'base_generic.html' %}

{% block content %}
<style>
    input[type='email'] {
        min-width: 24rem;
        padding: .3rem 15px;
        background: rgb(42, 47, 51);
        border: none;
        transition: all 0.3s ease-in-out;
        margin-right: 3px;
        color: white;
    }

    input[type='email']:focus {
        outline: none;
    }
</style>

<div class="text-white bg-dark p-4">
    <h3>Password reset</h3>

    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
        one.</p>

    <br>

    <form class="form" method="POST">
        {% csrf_token %}
        {{form.email}}
        <input class="btn btn-sm text-white rounded-1 p-1 ps-3 pe-3 " style="background:rgb(56, 77, 154)" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}